@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	<h3>Physical Address</h3>
	Southern African Computer Lecturer's Association <br />
	School of Computer Science and Information Systems<br />
	North-West University<br />
	11 Hoffman Street<br />
	Potchefstroom<br />
	2351<br />

	<h3>Postal Addresses</h3>
	Southern African Computer Lecturer's Association <br />
	School of Computer Science and Information Systems<br />
	Private Bag X6001<br />
	Potchefstroom<br />
	2520<br />
</p>


<address>
    <strong>Email us on:</strong>   <a href="http://www.sacla.org.za/">www.sacla.org.za</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58406191.344166614!2d-8.765022899999956!3d-26.685886500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9680d98cdf272f%3A0x1acb2458a18b664f!2sNorth%20West%20University%20-%20Potchefstroom%20Campus!5e0!3m2!1sen!2sza!4v1624910978870!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<style>
	p {
		font-size: large;
	}
	iframe {
		position: center
	}
</style>