@{
    ViewBag.Title = "News";
}
<h2>@ViewBag.Title.</h2>


<p>
	<h3>SACLA 2021 CONFERENCE</h3>
	<br />
	<br />
	SACLA 2021 is being hosted by the Academy of Computer Science and Software Engineering at the University of Johannesburg. <br /><br />
	It will be held virtually this year due to the Covid-19 pandemic, during the third week of July (14-16 July 2021).<br /><br />

	Please take note of the following key dates and the call for papers.
	<br />
	<br />
	28 February 2021:	Submission of papers
	<br />
	<br />
	23 April 2020:	Notification of acceptance
	<br />
	Visit the conference website.
</p>
